<%- include('partials/header')   %>

<H1>Home</H1>
<%= homeContent %>
 

<% postjs.forEach(function(post){   %>
 <h1> <%= post.title   %>  </h1>
 <p>  <%=   post.content.substring(0,100) + "..."   %>  
<a href="/posts/<%=post.title %>">Read more</a>
</p>
 <% })  %>


<%- include('partials/footer')  %>